@mixin screen-m {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin screen-s {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin screen-xs {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin background-image {
  // background-image: url("../images/background.jpg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // backdrop-filter: blur(30px);
  // -webkit-backdrop-filter: blur(30px);
}

@mixin filter-image {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.6;
}

@mixin filter-background {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
