@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Variable.ttf') format('truetype');
  font-display: swap;
}

// COLOR
$color-black: #333;
$color-white: #fdfdfd;
$color-main: #1e86d1;
$color-gray: #f2f2f2;
$color-first: #1e86d1;
$color-second: #ad8ae2;
$color-third: #ffc0cb;

// FONTS
$font-switzer: 'Switzer', sans-serif;

// TRANSITION
$current-transition: 0.3s ease-in-out;
