@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Variable.ttf') format('truetype');
  font-display: swap;
}

// COLOR
$color-black: #333;
$color-white: #fdfdfd;
$color-main: #007bff;

// FONTS
$font-switzer: 'Switzer', sans-serif;

// TRANSITION
$current-transition: 0.3s ease-in-out;
